/* ================= General ================= */

/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Inter:wght@400;700&display=swap');

:lang(ar):not(i) {
    font-family: 'Cairo', sans-serif;
}

:lang(en):not(i) {
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* ================= NavBar ================= */

.navbar-dark {
    background-color: #1a1a1a !important;
}

.navbar-nav .nav-link.active {
    color: #b59410 !important;
    border-bottom: 2px solid #b59410;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
}

#navbar-placeholder {
    flex-shrink: 0;
}

/* ================= Hero ================= */

img {
    max-width: 100%;
    height: auto;
}

.hero-section_1 {
    height: 60vh;
    /* background: url('https://placehold.co/1920x1080/212529/ffffff?text=Church+Image+Placeholder') no-repeat center center; */
    background: url('../images/slogan.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
}

.hero-section {
    /* vh = viewport height. 100vh is the full screen height. */
    /* We subtract roughly 70px (average navbar height) to avoid a scrollbar */
    min-height: calc(100vh - 70px);

    background: url('../images/slogan.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;

    /* Ensure the content stays centered even as height changes */
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
}

.hero-overlay {
    /* display: none; */

    /* Darkens the image */
    background-color: rgba(1, 0, 0, 0.6);
}

.z-1 {
    z-index: 1;
}

/* ================= Footer ================= */

#footer-placeholder {
    flex-shrink: 0;
}

main {
    flex: 1;
    /* Pushes the footer down if content is short */
}

.footer a i {
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer a:hover i {
    /* color: #0d6efd; */
    color: #b59410;
    /* Bootstrap Primary Blue */
    transform: scale(1.2);
}

/* ================= Cards ================= */

.theme-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
}

.theme-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.theme-card h5 {
    transition: color 0.3s ease;
}

.theme-card:hover h4 {
    color: #b59410 !important;
    /* Church Gold highlight */
}

.theme-card:hover h6 {
    color: #b59410 !important;
    /* Church Gold highlight */
}

.theme-card:hover p {
    color: #b59410 !important;
    /* Church Gold highlight */
}

/* =================  ================= */